ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/root/partition-check.sh %N"

ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/root/partition-clear.sh %N"
